@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
body{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(27, 27, 27);
}
h1{
    font-size: 2.5rem;
}

aside{
    max-width: 33%;
    text-align: center;
}
aside img{
    max-width: 50%;
}
main{
    max-width: 50%;
    color: rgb(255, 255, 255);
    padding: 5%;
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.35);
}
article {
    width: 100%;
}